<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TutoBase</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
<div>
    <form id="lalaform">
        PUSHPUSH : <input type="text" value="hello" id="lalainput"><input type="button" value="searchWord" id="lalasubmit">
    </form>
</div>

<div id="toappend">
    {% if posts %}
        {% for post in posts %}
            {{ post.titleText }}
        {% endfor %}
    {% endif %}
</div>

</body>
<script>
    $(document).ready(function () {
        $('#lalasubmit').click(function () {
            var lalatextserial = $('#lalainput').val();
            $.ajax({
                url:'/tutomain/ajax/',
                type:'get',
                data:{
                  word : lalatextserial
                },
                dataType:'html',
                success:function (data) {
{#                    var datamodify = JSON.stringify(data)#}
                    alert(data);
                 $('#toappend').append(data)
                }

            })
        })
    });
</script>
</html>

