{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TutoBase</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{% static 'jquery.csrf.js' %}"></script>
</head>
<body>

    <div>
        <form id="searchForm">
            SearchBar : <input type="text" value="Enter Your SearchWord" id="searchInput"><input type="button" value="Search Click" id="searchSubmit">
        </form>
    </div>

    <div id="searchedData">

    </div>

</body>

<script>
    $(document).ready(function () {
        var hellofrom;
        $("#searchSubmit").click(function () {
            var trimedSearchWord = $("#searchInput").val();
            var rawSearchWord = trimedSearchWord.split(" ").join("");
            $.ajax({
                url:"/tutomain/search/",
                type:"get",
                data:{q : rawSearchWord},
                dataType : "html",
                cache : false,
                success : function (data) {


{#                    console.log(window.location.href.replace("http://127.0.0.1:8000", ""));#}
                    console.log(window.location.hash);
                    window.history.pushState({'from':window.location.href}, "searched", "?q="+rawSearchWord);
                    $("#searchedData").append(data)
                    hellofrom = window.location.href;
                    alert(hellofrom)
                }
            });
        });
        window.onpopstate = function(event) {
            alert("to: " + document.location + ", state: " + JSON.stringify(event.state) + "From" + hellofrom);
            console.log(hellofrom);
            hellofrom = window.location.href;
        };
    });
</script>
</html>

